<p>biceps works!</p>
<div class="content">
  <table> 
    Exercises API
    <tr>
    
      <th>Name</th>
      <th>Type</th>
      <th>Equipment</th>
      <th>Muscle</th>
      <th>Difficulty</th>
      <th>Instructions</th>

    </tr>
    <tr *ngFor="let data of datas;">

    
    <td>{{data.name}}</td>
    <td>{{data.type}}</td>
    <td>{{data.equipment}}</td>
    <td>{{data.muscle}}</td>
    <td>{{data.difficulty}}</td>
    <td maxlength="20">{{data.instructions}}</td>



    </tr>
  </table>

</div>